##
##   Copyright (c) 2009 The JOMC Project
##   Copyright (c) 2005 Christian Schulte <schulte2005@users.sourceforge.net>
##   All rights reserved.
##
##   Redistribution and use in source and binary forms, with or without
##   modification, are permitted provided that the following conditions
##   are met:
##
##     o Redistributions of source code must retain the above copyright
##       notice, this list of conditions and the following disclaimer.
##
##     o Redistributions in binary form must reproduce the above copyright
##       notice, this list of conditions and the following disclaimer in
##       the documentation and/or other materials provided with the
##       distribution.
##
##   THIS SOFTWARE IS PROVIDED BY THE JOMC PROJECT AND CONTRIBUTORS "AS IS"
##   AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO,
##   THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
##   PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE JOMC PROJECT OR
##   CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
##   EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
##   PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
##   OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
##   WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
##   OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
##   ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
##
##   $Id$
##
## @param tool The tool merging the template.
## @param toolName The name of the tool merging the template.
## @param toolVersion The version of the tool merging the template.
## @param toolUrl The URL to the site of the tool merging the template.
## @param calendar A java.util.Calendar instance.
## @param now The current timestamp formatted using the pattern "yyyy-MM-dd'T'HH:mm:ss.SSSZ".
## @param year The current year formatted using the pattern "yyyy".
## @param month The current month formatted using the pattern "MM".
## @param day The current day formatted using the pattern "dd".
## @param hour The current hour formatted using the pattern "HH".
## @param minute The current minute formatted using the pattern "mm".
## @param second The current second formatted using the pattern "ss".
## @param timezone The current timezone formatted using the pattern "Z".
## @param model The model declaring the modules of the implementation to render.
## @param modules The modules declaring the implementation to render.
## @param implementation The implementation to render.
${tool.getIndentation(0)}// <editor-fold defaultstate="collapsed" desc=" Generated Documentation ">
${tool.getIndentation(0)}/**
#if($implementation.getDocumentation())
${tool.getIndentation(0)} * $tool.getJavadocComment($implementation.getDocumentation(), 0, " * ")
#end
#set($specifications = $modules.getSpecifications($implementation.getIdentifier()))
#if($specifications && !$specifications.getReference().isEmpty())
${tool.getIndentation(0)} * <p>
${tool.getIndentation(0)} *   <table border="1" width="100%" cellpadding="3" cellspacing="0">
${tool.getIndentation(0)} *     <tr class="TableHeadingColor">
${tool.getIndentation(0)} *       <th align="left" scope="col" colspan="4" nowrap><font size="+2">Specifications</font></th>
${tool.getIndentation(0)} *     </tr>
${tool.getIndentation(0)} *     <tr class="TableSubHeadingColor">
${tool.getIndentation(0)} *       <td align="left" scope="col" nowrap><b>Identifier</b></td>
${tool.getIndentation(0)} *       <td align="left" scope="col" nowrap><b>Class</b></td>
${tool.getIndentation(0)} *       <td align="left" scope="col" nowrap><b>Scope</b></td>
${tool.getIndentation(0)} *       <td align="left" scope="col" nowrap><b>Version</b></td>
${tool.getIndentation(0)} *     </tr>
#foreach($reference in $specifications.getReference())
#set($specification = $specifications.getSpecification($reference.getIdentifier()))
${tool.getIndentation(0)} *     <tr class="TableRowColor">
${tool.getIndentation(0)} *       <td align="left" nowrap>{@code $tool.getHtmlString($reference.getIdentifier())}</font></td>
${tool.getIndentation(0)} *       <td align="left" nowrap>#if($specification && $specification.getClazz()){@code $tool.getHtmlString($specification.getClazz())}#end</td>
${tool.getIndentation(0)} *       <td align="left" nowrap>#if($specification){@code#if($specification.getScope()) $tool.getHtmlString($specification.getScope())#else Multiton#end}#end</td>
${tool.getIndentation(0)} *       <td align="left" nowrap>#if($reference.getVersion()){@code $tool.getHtmlString($reference.getVersion())}#end</td>
${tool.getIndentation(0)} *     </tr>
#end
${tool.getIndentation(0)} *   </table>
${tool.getIndentation(0)} * </p>
#end
#set($properties = $modules.getProperties($implementation.getIdentifier()))
#if($properties && !$properties.getProperty().isEmpty())
${tool.getIndentation(0)} * <p>
${tool.getIndentation(0)} *   <table border="1" width="100%" cellpadding="3" cellspacing="0">
${tool.getIndentation(0)} *     <tr class="TableHeadingColor">
${tool.getIndentation(0)} *       <th align="left" scope="col" colspan="3" nowrap><font size="+2">Properties</font></th>
${tool.getIndentation(0)} *     </tr>
${tool.getIndentation(0)} *     <tr class="TableSubHeadingColor">
${tool.getIndentation(0)} *       <td align="left" scope="col" nowrap><b>Name</b></td>
${tool.getIndentation(0)} *       <td align="left" scope="col" nowrap><b>Type</b></td>
${tool.getIndentation(0)} *       <td align="left" scope="col" nowrap><b>Documentation</b></td>
${tool.getIndentation(0)} *     </tr>
#foreach($property in $properties.getProperty())
${tool.getIndentation(0)} *     <tr class="TableRowColor">
${tool.getIndentation(0)} *       <td align="left" nowrap>{@link #$tool.getJavaGetterMethodName($property) $tool.getHtmlString($property.getName())}</td>
${tool.getIndentation(0)} *       <td align="left" nowrap>{@code $tool.getHtmlString($tool.getJavaTypeName($property,false))}</td>
${tool.getIndentation(0)} *       <td align="left" valign="top">#if($property.getDocumentation())$tool.getJavadocComment($property.getDocumentation(), 0, " *                        ")#end</td>
${tool.getIndentation(0)} *     </tr>
#end
${tool.getIndentation(0)} *   </table>
${tool.getIndentation(0)} * </p>
#end
#set($dependencies = $modules.getDependencies($implementation.getIdentifier()))
#if($dependencies && !$dependencies.getDependency().isEmpty())
${tool.getIndentation(0)} * <p>
${tool.getIndentation(0)} *   <table border="1" width="100%" cellpadding="3" cellspacing="0">
${tool.getIndentation(0)} *     <tr class="TableHeadingColor">
${tool.getIndentation(0)} *       <th align="left" scope="col" colspan="2" nowrap><font size="+2">Dependencies</font></th>
${tool.getIndentation(0)} *     </tr>
${tool.getIndentation(0)} *     <tr class="TableSubHeadingColor">
${tool.getIndentation(0)} *       <td align="left" scope="col" nowrap><b>Name</b></td>
${tool.getIndentation(0)} *       <td align="left" scope="col" nowrap><b>Description</b></td>
${tool.getIndentation(0)} *     </tr>
#foreach($dependency in $dependencies.getDependency())
#set($specification = $modules.getSpecification($dependency.getIdentifier()))
${tool.getIndentation(0)} *     <tr class="TableRowColor">
${tool.getIndentation(0)} *       <td align="left" nowrap>{@link #$tool.getJavaGetterMethodName($dependency) $tool.getHtmlString($dependency.getName())}</td>
${tool.getIndentation(0)} *       <td align="left">Dependency on {@code '$tool.getHtmlString($dependency.getIdentifier())'}#if($specification && $specification.getClazz()) {@code ($tool.getHtmlString($specification.getClazz()))}#end#if($dependency.getVersion()) at specification level $tool.getHtmlString($dependency.getVersion())#end#if($dependency.isBound()) bound to an instance#end.</td>
${tool.getIndentation(0)} *     </tr>
#end
${tool.getIndentation(0)} *   </table>
${tool.getIndentation(0)} * </p>
#end
#set($messages = $modules.getMessages($implementation.getIdentifier()))
#if($messages && !$messages.getMessage().isEmpty())
${tool.getIndentation(0)} * <p>
${tool.getIndentation(0)} *   <table border="1" width="100%" cellpadding="3" cellspacing="0">
${tool.getIndentation(0)} *     <tr class="TableHeadingColor">
${tool.getIndentation(0)} *       <th align="left" scope="col" colspan="3" nowrap><font size="+2">Messages</font></th>
${tool.getIndentation(0)} *     </tr>
${tool.getIndentation(0)} *     <tr class="TableSubHeadingColor">
${tool.getIndentation(0)} *       <td align="left" scope="col" nowrap><b>Name</b></td>
${tool.getIndentation(0)} *       <td align="left" scope="col" nowrap><b>Languages</b></td>
${tool.getIndentation(0)} *       <td align="left" scope="col" nowrap><b>Default Template</b></td>
${tool.getIndentation(0)} *     </tr>
#foreach($message in $messages.getMessage())
${tool.getIndentation(0)} *     <tr class="TableRowColor">
${tool.getIndentation(0)} *       <td align="left" valign="top" nowrap>{@link #$tool.getJavaGetterMethodName($message) $tool.getHtmlString($message.getName())}</td>
${tool.getIndentation(0)} *       <td align="left" valign="top" nowrap>#set($size = $message.getTemplate().getText().size())#foreach($text in $message.getTemplate().getText())$tool.getHtmlString($tool.getDisplayLanguage($text.getLanguage()))#if($text.getLanguage() == $message.getTemplate().getDefaultLanguage()) (default)#end#set($size = $size - 1)#if($size > 0),&nbsp;#end#end</td>
${tool.getIndentation(0)} *       <td align="left" valign="top" nowrap><pre><code>$tool.getJavadocComment($message.getTemplate().getText($message.getTemplate().getDefaultLanguage()), 0, " * ")</code></pre></td>
${tool.getIndentation(0)} *     </tr>
#end
${tool.getIndentation(0)} *   </table>
${tool.getIndentation(0)} * </p>
#end
${tool.getIndentation(0)} *
#if($implementation.getAuthors())
#foreach($author in $implementation.getAuthors().getAuthor())
${tool.getIndentation(0)} * @author #if($author.getMail())<a href="mailto:$author.getMail()">#end$tool.getHtmlString($author.getName())#if($author.getMail())</a>#end $tool.getHtmlString($author.getVersion())
#end
#end
#set($D = "$")
${tool.getIndentation(0)} * @version ${D}Id${D}
${tool.getIndentation(0)} */
${tool.getIndentation(0)}// </editor-fold>
