##
##   Copyright (c) 2009 The JOMC Project
##   Copyright (c) 2005 Christian Schulte <schulte2005@users.sourceforge.net>
##   All rights reserved.
##
##   Redistribution and use in source and binary forms, with or without
##   modification, are permitted provided that the following conditions
##   are met:
##
##     o Redistributions of source code must retain the above copyright
##       notice, this list of conditions and the following disclaimer.
##
##     o Redistributions in binary form must reproduce the above copyright
##       notice, this list of conditions and the following disclaimer in
##       the documentation and/or other materials provided with the
##       distribution.
##
##   THIS SOFTWARE IS PROVIDED BY THE JOMC PROJECT AND CONTRIBUTORS "AS IS"
##   AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO,
##   THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
##   PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE JOMC PROJECT OR
##   CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
##   EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
##   PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
##   OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
##   WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
##   OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
##   ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
##
##   $Id$
##
## @param tool The tool merging the template.
## @param toolName The name of the tool merging the template.
## @param toolVersion The version of the tool merging the template.
## @param toolUrl The URL to the site of the tool merging the template.
## @param calendar A java.util.Calendar instance.
## @param now The current timestamp formatted using the pattern "yyyy-MM-dd'T'HH:mm:ss.SSSZ".
## @param year The current year formatted using the pattern "yyyy".
## @param month The current month formatted using the pattern "MM".
## @param day The current day formatted using the pattern "dd".
## @param hour The current hour formatted using the pattern "HH".
## @param minute The current minute formatted using the pattern "mm".
## @param second The current second formatted using the pattern "ss".
## @param timezone The current timezone formatted using the pattern "Z".
## @param modules The modules declaring the implementation to render.
## @param implementation The implementation to render.
${tool.getIndentation(0)}// <editor-fold defaultstate="collapsed" desc=" Generated Documentation ">
${tool.getIndentation(0)}/**
#if($implementation.getDocumentation())
${tool.getIndentation(0)} * $tool.getJavadocComment($implementation.getDocumentation().getText("en"), 0, " * ")
#end
#set($specifications = $modules.getSpecifications($implementation.getIdentifier()))
#if($specifications)
${tool.getIndentation(0)} * <p><b>Specifications</b><ul>
#foreach($reference in $specifications.getReference())
#set($specification = $specifications.getSpecification($reference.getIdentifier()))
${tool.getIndentation(0)} * <li>{@code $reference.getIdentifier()}#if($reference.getVersion()) {@code $reference.getVersion()}#end#if($specification)#if($specification.getScope()) {@code $specification.getScope()}#else {@code Multiton}#end#end</li>
#end
${tool.getIndentation(0)} * </ul></p>
#end
#if($modules.getProperties($implementation.getIdentifier()))
${tool.getIndentation(0)} * <p><b>Properties</b><ul>
#foreach($property in $modules.getProperties($implementation.getIdentifier()).getProperty())
${tool.getIndentation(0)} * <li>"{@link #$tool.getJavaGetterMethodName($property) $property.getName()}"
${tool.getIndentation(0)} * <blockquote>Property of type {@code $tool.getJavaTypeName($property,false)}.
#if($property.getDocumentation())
${tool.getIndentation(0)} * <p>$tool.getJavadocComment($property.getDocumentation().getText("en"), 0, " * ")</p>
#end
${tool.getIndentation(0)} * </blockquote></li>
#end
${tool.getIndentation(0)} * </ul></p>
#end
#if($modules.getDependencies($implementation.getIdentifier()))
${tool.getIndentation(0)} * <p><b>Dependencies</b><ul>
#foreach($dependency in $modules.getDependencies($implementation.getIdentifier()).getDependency())
#set($specification = $modules.getSpecification($dependency.getIdentifier()))
${tool.getIndentation(0)} * <li>"{@link #$tool.getJavaGetterMethodName($dependency) $dependency.getName()}"<blockquote>
${tool.getIndentation(0)} * Dependency on {@code $dependency.getIdentifier()}#if($dependency.getVersion()) at specification level $dependency.getVersion()#end#if($dependency.isBound()) bound to an instance#end.</blockquote></li>
#end
${tool.getIndentation(0)} * </ul></p>
#end
#if($modules.getMessages($implementation.getIdentifier()))
${tool.getIndentation(0)} * <p><b>Messages</b><ul>
#foreach($message in $modules.getMessages($implementation.getIdentifier()).getMessage())
${tool.getIndentation(0)} * <li>"{@link #$tool.getJavaGetterMethodName($message) $message.getName()}"<table>
#foreach($text in $message.getTemplate().getText())
${tool.getIndentation(0)} * <tr><td valign="top">$tool.getDisplayLanguage($text.getLanguage()):</td><td valign="top"><pre>$tool.getJavadocComment($message.getTemplate().getText($text.getLanguage()), 0, " * ")</pre></td></tr>
#end
${tool.getIndentation(0)} * </table>
#end
${tool.getIndentation(0)} * </ul></p>
#end
${tool.getIndentation(0)} *
#if($implementation.getAuthors())
#foreach($author in $implementation.getAuthors().getAuthor())
${tool.getIndentation(0)} * @author #if($author.getMail())<a href="mailto:$author.getMail()">#end$author.getName()#if($author.getMail())</a>#end $author.getVersion()
#end
#end
#set($D = "$")
${tool.getIndentation(0)} * @version ${D}Id${D}
${tool.getIndentation(0)} */
${tool.getIndentation(0)}// </editor-fold>
