#if($comment)
  /**
   * Gets the text of the message with key {@code "$message.getName()"}.
   *
   * <p><b>Templates</b><br/><table>
#foreach($text in $message.getTemplate().getText())
   * <tr><td valign="top">$tool.getDisplayLanguage($text.getLanguage()):</td><td valign="top"><pre>$tool.getJavadocComment($message.getTemplate().getText($text.getLanguage()), "   * ")</pre></td></tr>
#end
   * </table></p>
   * @param locale The locale of the message to return.
#if($message.getArguments() && !$message.getArguments().getArgument().isEmpty())
#foreach($argument in $message.getArguments().getArgument())
   * @param $argument.getName() #if($argument.getDocumentation())$tool.getJavadocComment($argument.getDocumentation().getText("en"), "   * ")#end#if(!$argument.getDocumentation())Format argument.#end

#end
#end
   *
#if($message.getDocumentation())
   * @return $tool.getJavadocComment($message.getDocumentation().getText("en"), "   * ")
#end
#if(!$message.getDocumentation())
   * @return The text of the {@code $message.getName()} message.
#end
   */
#if(!$message.getArguments() || $message.getArguments().getArgument().isEmpty() )
  String $tool.getJavaAccessorMethodName($message)
  (
    final Locale locale
  )
  {
    return this.getMessage( "$message.getName()", locale );
  }
#end
#if($message.getArguments() && !$message.getArguments().getArgument().isEmpty() )
  String $tool.getMessageGetterMethodName($message)
  (
      Locale locale
#foreach( $argument in $message.getArguments().getArgument() )
#if($argument.getType().value() == "Number")
    , final java.lang.Number $argument.getName()
#end
#if($argument.getType().value() == "Date")
    , final java.util.Date $argument.getName()
#end
#if($argument.getType().value() == "Time")
    , final java.util.Date $argument.getName()
#end
#if($argument.getType().value() == "Text")
    , final java.lang.String $argument.getName()
#end
#end
  )
  {
    if ( locale == null )
    {
      locale = Locale.getDefault();
    }

    return new MessageFormat( this.getMessage(
        "$message.getName()", locale ), locale ).format(
        new Object[]
        {
#foreach( $argument in $message.getArguments().getArgument() )
            $argument.getName(),
#end
            null
        } );

  }
#end
#end
