## @param modules The modules declaring implementation.
## @param implementation The implementation of the template.
## @param tool The builder of the template.

    /** Default implementation constructor. */
    @javax.annotation.Generated
    (
        value = "$tool.getClass().getName()",
        comments = "See ${pom.url}"
    )
    public $tool.getJavaTypeName($implementation)()
    {
