## @param modules The modules declaring implementation.
## @param implementation The implementation of the template.
## @param tool The builder of the template.
#set($messages = $modules.getMessages($implementation.getIdentifier()))
#if($messages)
#foreach($message in $messages.getMessage())
#parse($tool.getTemplateLocation("implementation-message.vm"))
#end
#end