##
##   Copyright (c) 2009 The JOMC Project
##   Copyright (c) 2005 Christian Schulte <cs@jomc.org>
##   All rights reserved.
##
##   Redistribution and use in source and binary forms, with or without
##   modification, are permitted provided that the following conditions
##   are met:
##
##     o Redistributions of source code must retain the above copyright
##       notice, this list of conditions and the following disclaimer.
##
##     o Redistributions in binary form must reproduce the above copyright
##       notice, this list of conditions and the following disclaimer in
##       the documentation and/or other materials provided with the
##       distribution.
##
##   THIS SOFTWARE IS PROVIDED BY THE JOMC PROJECT AND CONTRIBUTORS "AS IS"
##   AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO,
##   THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
##   PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE JOMC PROJECT OR
##   CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
##   EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
##   PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
##   OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
##   WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
##   OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
##   ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
##
##   $Id$
##
## @param modules The modules declaring implementation.
## @param implementation The implementation of the template.
## @param tool The builder of the template.
// SECTION-START[License Header]
// SECTION-END
package ${tool.getJavaPackageName($implementation)};

import java.lang.*;

// SECTION-START[Documentation]
// SECTION-END
// SECTION-START[Annotations]
// SECTION-END
public class ${tool.getJavaTypeName($implementation,false)}
#set($specs = ${modules.getSpecifications($implementation.getIdentifier())})
#if($specs)
    implements
#set($i = $specs.getReference().size())
#foreach($reference in $specs.getReference())
#set($i = $i - 1)
        $tool.getJavaTypeName($reference,true)#if($i > 0),#end

#end
#end
{
#if($specs)
#foreach($reference in $specs.getReference())
    // SECTION-START[$tool.getJavaTypeName($reference,false)]
    // SECTION-END
#end
#end
    // SECTION-START[${tool.getJavaTypeName($implementation,false)}]
    // SECTION-END
    // SECTION-START[Constructors]
        // SECTION-START[Default Constructor]
        // SECTION-END
    // SECTION-END
    // SECTION-START[Dependencies]
    // SECTION-END
    // SECTION-START[Properties]
    // SECTION-END
    // SECTION-START[Messages]
    // SECTION-END
}
