##
##   Copyright (c) 2009 The JOMC Project
##   Copyright (c) 2005 Christian Schulte <cs@schulte.it>
##   All rights reserved.
##
##   Redistribution and use in source and binary forms, with or without
##   modification, are permitted provided that the following conditions
##   are met:
##
##     o Redistributions of source code must retain the above copyright
##       notice, this list of conditions and the following disclaimer.
##
##     o Redistributions in binary form must reproduce the above copyright
##       notice, this list of conditions and the following disclaimer in
##       the documentation and/or other materials provided with the
##       distribution.
##
##   THIS SOFTWARE IS PROVIDED BY THE JOMC PROJECT AND CONTRIBUTORS "AS IS"
##   AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO,
##   THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
##   PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE JOMC PROJECT OR
##   CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
##   EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
##   PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
##   OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
##   WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
##   OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
##   ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
##
##   $Id$
##
## @param modules The modules declaring implementation.
## @param implementation The implementation of the template.
## @param tool The builder of the template.
#set($properties = $modules.getProperties($implementation.getIdentifier()))
#if($properties)
#foreach($property in $properties.getProperty())

    /**
     * Gets the value of the {@code $property.getName()} property.
#if($property.getDocumentation())
     * @return $tool.getJavadocComment($property.getDocumentation().getText("en"), "     * ")
#end
#if(!$property.getDocumentation())
     * @return The value of the {@code $property.getName()} property.
#end
     * @throws org.jomc.ObjectManagementException if getting the property instance fails.
     */
    @javax.annotation.Generated
    (
        value = "$tool.getClass().getName()",
        comments = "See ${pom.url}"
    )
    $tool.getPropertyJavaModifier($implementation,$property) $property.getType().value() $tool.getPropertyGetterMethodName($property)() throws org.jomc.ObjectManagementException
    {
#if($tool.getJavaTypeName($property) != $property.getType().value())
        return ( ($tool.getJavaTypeName($property)) org.jomc.ObjectManagerFactory.getObjectManager().getProperty( this, "$property.getName()" ) ).$property.getType().value()Value();
#end
#if($tool.getJavaTypeName($property) == $property.getType().value())
        return ($property.getType().value()) org.jomc.ObjectManagerFactory.getObjectManager().getProperty( this, "$property.getName()" );
#end
    }
#end
#end