## @param modules The modules declaring specification.
## @param specification The specification of the template.
## @param tool The builder of the template.
// SECTION-START[License Header]
// SECTION-END
package ${tool.getJavaPackageName($specification)};

// SECTION-START[Specification Comment]
// SECTION-END
// SECTION-START[Annotations]
// SECTION-END
public interface ${tool.getJavaTypeName($specification)}
{
    // SECTION-START[${tool.getJavaTypeName($specification)}]
    // SECTION-END
}
