 ------
 Shading JOMC artifacts
 ------
 Christian Schulte
 ------
 22 March 2010
 ------

 ~~ Copyright (C) Christian Schulte, 2005-206
 ~~ All rights reserved.
 ~~
 ~~ Redistribution and use in source and binary forms, with or without
 ~~ modification, are permitted provided that the following conditions
 ~~ are met:
 ~~
 ~~   o Redistributions of source code must retain the above copyright
 ~~        notice, this list of conditions and the following disclaimer.
 ~~
 ~~   o Redistributions in binary form must reproduce the above copyright
 ~~     notice, this list of conditions and the following disclaimer in
 ~~     the documentation and/or other materials provided with the
 ~~     distribution.
 ~~
 ~~ THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES,
 ~~ INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY
 ~~ AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL
 ~~ THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY DIRECT, INDIRECT,
 ~~ INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT
 ~~ NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
 ~~ DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
 ~~ THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
 ~~ (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF
 ~~ THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 ~~
 ~~ $JOMC$

Shading JOMC artifacts

  The Maven JOMC Plugin provides a {{{./../apidocs/org/jomc/mojo/JomcResourceTransformer.html}ResourceTransformer}}
  implementation for use with the {{{http://maven.apache.org/plugins/maven-shade-plugin/}Maven Shade Plugin.}}.

+-----------------+
<project>
  ...
    <plugins>
      ...
      <plugin>
        <groupId>org.apache.maven.plugins</groupId>
        <artifactId>maven-shade-plugin</artifactId>
        <version>1.4</version>
        <dependencies>
          <dependency>
            <groupId>org.jomc</groupId>
            <artifactId>maven-jomc-plugin</artifactId>
            <version>${project.version}</version>
          </dependency>
        </dependencies>
        <configuration>
        ...
          <transformers>
            <transformer implementation="org.jomc.mojo.JomcResourceTransformer">
              <modletName>Name</modletName>
              <moduleName>Name</moduleName>
            </transformer>
          </transformers>
        ...
        </configuration>
      </plugin>
      ...
    </plugins>
  ...
</project>
+-----------------+
